# Compiled class file
*.class

# Log file
*.log

# Package files
*.jar
*.war
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*

# maven files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
!/.mvn/wrapper/maven-wrapper.jar

# IDEA
.idea/
*.iml
*.ipr
*.iws

# Mac
.DS_Store

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Spring Tool Suite
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
